
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div style="width: 40%; text-align: center; margin-left: 30%">
                <h2>{% trans %}Astronauts{% endtrans %}</h2>
                <p>
                    {% trans %}This table shows a collection of astronauts. You can create a new astronaut entry by pressing the add astronaut button and submitting a form. The table shown below provides actions for editing and deleting existing entries.
                       {% endtrans %}
                </p>
                <button data-toggle="modal" data-target="#addAstronautModal">{% trans %}Add astronaut{% endtrans %}</button>
                <div id="addAstronautModal" class="modal fade" role="dialog">
                    <input id='deletePath' type="hidden" value=""/>
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{% trans %}New astronaut{% endtrans %}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(addForm) }}
                                {{ form_row(addForm.name) }}
                                {{ form_row(addForm.surname) }}
                                {{ form_row(addForm.birthdate) }}
                                {{ form_row(addForm.superpower) }}
                                <button type="submit" class="btn btn-default">{% trans %}Add astronaut{% endtrans %}!</button>
                                {{ form_end(addForm) }}
                            </div>

                        </div>

                    </div>
                </div>
                <div id="editAstronautModal" class="modal fade" role="dialog">
                    <input id='editPath' type="hidden" value=""/>
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{% trans %}Edit astronaut{% endtrans %}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {{ form_start(editForm) }}
                                {{ form_row(editForm.name) }}
                                {{ form_row(editForm.surname) }}
                                {{ form_row(editForm.birthdate) }}
                                {{ form_row(editForm.superpower) }}
                                <button type="submit" class="btn btn-default">{% trans %}Edit astronaut{% endtrans %}!</button>
                                {{ form_end(editForm) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table id="astronaut-table" class="table dataTable table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="name">
                                {% trans %}Name{% endtrans %}
                            </th>
                            <th class="surname">{% trans %}Surname{% endtrans %}</th>
                            <th class="birth">
                                {% trans %}Birthdate{% endtrans %}
                            </th>
                            <th class="super">
                                {% trans %}Superpower{% endtrans %}
                            </th>
                            <th class="edit" data-orderable="false">
                                {% trans %}Edit{% endtrans %}
                            </th>
                            <th class="delete" data-orderable="false">
                                {% trans %}Delete{% endtrans %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for astronaut in astronauts %}
                        <tr id="astronaut-row-{{ astronaut.id }}">
                            <td class="name">{{ astronaut.Name }}</td>
                            <td class="surname">{{ astronaut.Surname }}</td>
                            <td class="birth">{{ astronaut.Birthdate | date("d.m.Y")}}</td>
                            <td class="super">{{ astronaut.Superpower }}</td>
                            <td class="edit">
                                <i id="{{ astronaut.id }}" class="fa fa-pencil" data-toggle="modal" data-target="#editAstronautModal" title="{% trans %}Edit astronaut{% endtrans %}"></i>
                            </td>
                            <td class="delete">
                                <i id="{{ path('delete_astronaut', {id: astronaut.id}) }}" class="fa fa-remove" data-toggle="modal" data-target="#deleteModal" title="{% trans %}Delete astronaut?{% endtrans %}"></i>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div id="deleteModal" class="modal fade" role="dialog">
                <input id='deletePath' type="hidden" value=""/>
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{% trans %}Delete astronaut?{% endtrans %}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans %}Do you really want to delete this astronaut?{% endtrans %}</p>
                        </div>
                        <div class="modal-footer">
                            <button id="delete-confirm" type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Yes{% endtrans %}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <!-- jQuery library -->
            <script src="{{ asset('build/app.js') }}"></script>
            <script>
                $(document).ready(function() {

                    function getMonthFromJs(month) {
                        return month < 9 ? '0' + (month + 1) : month + 1;
                    }

                    function getDaysFromJs(day) {
                        return day < 10 ? '0' + (day) : day;
                    }

                    function getAstronautRow(astronaut) {
                        let date = new Date(astronaut.birthdate);
                        let formattedDate = (getDaysFromJs(date.getDate()) + '.' + getMonthFromJs(date.getMonth()) + '.' + date.getFullYear());
                        return [astronaut.name,
                            astronaut.surname,
                            formattedDate,
                            astronaut.superpower,
                            "<i id=\"" + astronaut.id + "\" class=\"fa fa-pencil\" data-toggle=\"modal\" data-target=\"#editAstronautModal\"title=\"{% trans %}Edit astronaut{% endtrans %}\"></i>",
                            "<i id=\"/" + astronaut.id + "\" class=\"fa fa-remove\" data-toggle=\"modal\" data-target=\"#deleteModal\" title=\"{% trans %}Delete astronaut?{% endtrans %}\"></i>",
                        ]
                    }

                    function addRowAttributes(row, id) {
                        row.setAttribute('id', 'astronaut-row-' + id);
                    }

                    // Form ajax submit function
                    $('[name="astronaut"]').on('submit', function (e) {
                        e.preventDefault();
                        let data = {};
                        $(this).serializeArray().forEach((object)=>{
                            data[object.name] = object.value;
                        });
                        if($(this).attr('id') === 'addForm') {
                            $('#addAstronautModal').modal('toggle');
                            $.ajax({
                                type: $(this).attr('method'),
                                url: $(this).attr('action'),
                                data: data
                            }).done(function (result) {
                                //Redraw table
                                if (result['success']) {
                                    let row = $('#astronaut-table').DataTable().row.add(getAstronautRow(result['newAstronaut']));
                                    row.draw();
                                    addRowAttributes(row.node(), result['newAstronaut'].id)
                                }
                            });
                        } else {
                            $('#editAstronautModal').modal('toggle');
                            $.ajax({
                                type:  $(this).attr('method'),
                                url: '/' + $('#editPath').val(),
                                data: data
                            }).done(function (result) {
                                //Redraw table
                                if (result['success']) {
                                    let table = $('#astronaut-table').DataTable();
                                    table.row($('#astronaut-row-' + result['editedAstronaut']['id'])).remove();
                                    let row = table.row.add(getAstronautRow(result['editedAstronaut']));
                                    row.draw();
                                    addRowAttributes(row.node(), result['editedAstronaut']['id'])
                                }
                            });
                        }
                        $(this)[0].reset();
                    });

                    //Update what is being deleted
                    $(document).on('click', '.fa-remove', function() {
                        $('#deletePath').val($(this).attr('id'));
                    });

                    //Fill up edit form
                    $(document).on('click', '.fa-pencil', function() {
                        let astronautId = $(this).attr('id');
                        let astronautRowCells = $('#astronaut-row-' + astronautId).children('td');
                        $('#editPath').val($(this).attr('id'));
                        let editForm = $('#editForm');

                        editForm.find('#astronaut_name').val(astronautRowCells[0].innerHTML);
                        editForm.find('#astronaut_surname').val(astronautRowCells[1].innerHTML);
                        editForm.find('#astronaut_birthdate').val(astronautRowCells[2].innerHTML);
                        editForm.find('#astronaut_superpower').val(astronautRowCells[3].innerHTML);
                    });

                    //Delete call
                    $('#delete-confirm').on('click', function() {
                        let deletePath = $('#deletePath').val();
                        $.ajax({
                            type: 'DELETE',
                            url: deletePath,
                            success: function (result) {
                                let table = $('#astronaut-table').DataTable();
                                table.row($('#astronaut-row-' + result['id'])).remove().draw();
                            }
                        });
                    });

                    $('.js-datepicker').datepicker({
                        format: 'dd.mm.yyyy',
                        startView: 'decade',
                        startDate: '-120y',
                        endDate: '-18y',
                        autoclose: true
                    });

                    //Datatable init
                    $('#astronaut-table').DataTable();
                });
            </script>
        {% endblock %}
    </body>
</html>
